In [1]:
# Importing necessary libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Load the dataset
df = pd.read_csv('invoices.csv')  # Update 'invoices.csv' with the actual filename
df['invoice_date'] = pd.to_datetime(df['invoice_date'], format=r'%d/%m/%Y')

# 1. Handling Missing Values
df.dropna(inplace=True)  # Drop rows with any missing values, you can customize this based on your requirement

# 2. Data Type Conversion
df['invoice_date'] = pd.to_datetime(df['invoice_date'])  # Convert 'invoice_date' column to datetime

# 3. Removing Duplicates
df.drop_duplicates(inplace=True)

# 4. Normalization/Standardization
scaler = StandardScaler()
numerical_cols = ['qty', 'amount']  # Assuming these are numerical columns needing scaling
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

# 5. Encoding Categorical Variables
# This step depends on the specific requirements and algorithms being used. 
# You can use techniques like one-hot encoding or label encoding here.

# 6. Feature Engineering
# Not applied here as it depends on the specific requirements and available data.

# 7. Handling Outliers
# Not applied here as it depends on the specific requirements and algorithms being used.

# 8. Data Scaling
# Not applied here as it depends on the specific requirements and algorithms being used.

# 9. Data Splitting
# Split the dataset into features (X) and target variable (y) if you're building a predictive model
# Replace 'amount' with the actual name of your target column
X = df.drop('amount', axis=1)
y = df['qty']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 10. Feature Selection
# Not applied here as it depends on the specific requirements and algorithms being used.

# Display the preprocessed dataframe
# print(df.head(50))
print(X_train)  # Displaying X_train to verify the split

            first_name         last_name                     email  \
9254      Michael Webb      Linda Hunter          ylee@example.net
1561    Cynthia Dennis    Cassandra Reed  tracysalinas@example.com
1670       Brian Bryan    Mark Alexander         lhill@example.org
6087     Crystal Brown  Philip Henderson      fmorales@example.net
6669   Mr. John Taylor     Anthony Smith   michaelford@example.org
...                ...               ...                       ...
5734    Danielle Drake    Cassandra Levy        dsingh@example.com
5191    Jaime Crawford    Cheryl Webster    jennifer15@example.org
5390  Christine Arnold       Joshua Hull     michael44@example.net
860   Nicole Velasquez       Brian Young        tina24@example.org
7270      Alan Fischer        Paul Stone  schultzdavid@example.net

      product_id       qty invoice_date                         address  \
9254         174  0.773915   1987-07-31                   164 Brad Ford
1561         151 -1.554700   2009-01-20       4346 Tina Drives Apt. 885
1670         141  0.773915   1978-12-13        1032 Garcia Via Apt. 065
6087         174 -1.554700   1984-03-22             76530 Jackson Wells
6669         189 -0.390392   1973-08-14             80881 Jonathan Pike
...          ...       ...          ...                             ...
5734         196  1.550121   2011-04-02               745 Holland Fords
5191         116  0.385813   1988-09-09  7339 Kimberly Bypass Suite 294
5390         104 -0.002290   1978-12-08                 7162 Weiss Mall
860          176 -0.390392   1995-05-29             2494 Brittany Ranch
7270         161  1.162018   1975-04-15                2362 Blake Cliff

                   city  stock_code                       job
9254  Port Heatherburgh    10950395       Magazine journalist
1561      Victoriaburgh    59205074           Games developer
1670        Ramirezland    55176422              Bonds trader
6087         Holmesport    38123658              Metallurgist
6669         Lauramouth    54860650            Office manager
...                 ...         ...                       ...
5734        Port Joanna    86270205                     Actor
5191   West Zacharystad    61538696  Magazine features editor
5390       Port Brianna    86923828             Administrator
860        Burkeborough    64672267  Therapist, horticultural
7270        Gabrielstad    40182629        Secretary, company

[8000 rows x 10 columns]